.main-a{
  padding: 5px;
  margin: 0 auto;
  background: #fff;
}

.section-a {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.input-a {
  display: none;
}

.label-a {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.label-a:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}


.label-a:hover {
  color: #888;
  cursor: pointer;
}

.input-a:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #2ecc71;
  border-bottom: 1px solid #fff;
}

#tab1-a:checked ~ #content1-a,
#tab2-a:checked ~ #content2-a {
  display: block;
}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.panel-group .panel {
    border-radius: 0px;
}
.tab-content-a{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}