@media only screen and (min-device-width : 200px) and (max-device-width : 768px ){ 
    .kyleads-img{
        height: 60px;
        width: 150px;
    }
}
.navbar-inverse-custom{
    background-color:#365397;
}