
    .fa-2x {
    font-size: 2em;
    }
    
    
    .a-custom-form{
        height: 77px;
    }
    
    .btn-custom-formnav {
        border-radius: 30px;
        padding:20px;
        margin: 10px auto;
        font-weight:bold;  
        font-size: 17px; 
    }
    .col-md-11-forms,.col-md-1-forms{
        padding:0px;
    }
    .row-form-input-textbox{
        margin-top: 1%;
    }
    .col-md-button-forms{
        margin-top:55px;
        padding:0px;
    }
    .btn-add-form{
        font-size: 25px;
        height: 55px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    input[id="text-form"] {
        font-size:15px;
        background-color:rgb(250, 255, 189);
    }
    .font-btn-add-form{
        font-size: 20px;
      }
    .row-display-boxes-form{
          text-align: center;
    }
    .input-lg-form{
        height: 55px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border:2px solid #86b5d4;
    }
    .n-f {
        width: 200px;
        height: 200px;
        background-color: rgb(179, 179, 179);
        border-radius: 72.5px;
        position: relative;
        margin: 0 auto;
        box-shadow: 0 3px 3px rgba(0,0,0,0.05), 0 3px 3px rgba(0,0,0,0.05);
    }
    .col-md-3-form{
        width: 250px;
        margin-top: 20px;
    }
    .row-templates-form{
        margin-left: 10%;
        margin-right: 12%;
    }
    .row-templates-form-bottom{
        margin-bottom: 20px;
    }
    
    .fa-forms-custom{
        margin-left:10px;
    }
    .build-optin-form-button{
        width:300px;
        height:100px;
        border-radius: 50px;
        background-color:#48c9b0;
    }
    .build-optin-form-text{
        font-size:25px;
        color:white;
        padding:0px;
    }
    .formscreate:hover{
        background-color:#365397 !important;
    }