.body-t-p{
    background-color: #ccc;
}
.nav-t-p{
    background-color: #365397;
}
.outer-div{
  padding-top: 100px;
  height: 100%;

}
.inner-div{
  margin: auto;
  width:800px;
  padding:50px;
  background-color:white;
  border-radius: 10px;
}
.btn-t-p{
    width:200px;
    font-size: 20px;
    border-radius:40px;
    background-color:#49CEA4
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #365397;
    color: white;
    text-align: center;
}
.f-c-c-t-p{
    padding:20px;
}
.f-c-l-t-p{
    background-color:rgb(189, 184, 184);
    border-radius:10px;
    position: absolute;
    left:20px;
    color: black;
    width:660px;

}
.f-c-l-t-p:hover{
    background-color:rgb(128, 125, 125);
}
.f-c-i-t-p{
    position: absolute;
    left: 10px;
    top:6px;
}
.margin-l-t-p{
    margin:10px;   
}
.back{
    margin-top:20px;
    width:100px;
    font-size: 15px;
    border-radius:40px;
    background-color:#49CEA4
}