/*navigation custom*/
.navbar-inverse-u{
    background-color: #365397 !important; /*Override nav color*/
}
.navbar-brand-u{
    padding:0px 25px !important;
    min-height: 65px;
}
.navbar-header{
    width:250px !important;
}
/*end navigation*/
/*body*/
.body-custom{
    padding-top:67px;
}
.container-fluid-custom{
    padding:0px;
    margin:0px;

}
/*end for body*/
/*Whole  Reference: https://bootsnipp.com/snippets/4OZ8R */
#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
  }
  
  #sidebar-wrapper {
    margin-left: -250px;
    top: 67px;
    left: 250px;
    width: 250px;
    background: #365397;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.50);
  }
  
  #wrapper.active {
    padding-left: 0;
  }
  
  #wrapper.active #sidebar-wrapper {
    left: 0;
  }
  
  #page-content-wrapper {
    width: 100%;
    transition: all 0.4s ease 0s;
  }
  
  .sidebar-nav-u {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-nav-u li {
    line-height: 50px;
  }
  
  .sidebar-nav-u li a {
    color: white;
    display: block;
    text-decoration: none;
  }
  
  .sidebar-nav-u li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    width: 20px;
    line-height: 18px;
  }
  
  .sidebar-nav-u li a:hover,
  .sidebar-nav-u li.active {
    color: #fff;
    background: #22345f;
    text-decoration: none;
  }
  
  .sidebar-nav-  li a:active,
  .sidebar-nav-j li a:focus {
    text-decoration: none;
  }
  
  #menu-toggle {
      text-decoration: none;
      float: left;
      color: #fff;
      padding-right: 15px;
  }
  
  @media (max-width:767px) {
  
  #wrapper {
    padding-left: 0;
  }
  
  #sidebar-wrapper {
    left: 0;
  }
  
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  }
  /*Ended for nav left*/
  /*New Implemented for page wapper*/
  
.row-custom-u{
    margin: auto; max-width:50px; 
}
.j-c-t-u{
    text-align: center;
}
.t-b-u{
    color:black;
}
.t-w-u{
  color:white;
}
.row-c-u{
    margin: auto; max-width:1000px;
}
.j-c-e{
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.row-c-u-f{
  margin: auto; max-width:800px;
  width:800px;
}
.row-c-u-q{
  margin: auto; max-width:1100px;
}
.row-c-u-a{
  margin: auto; max-width:1100px;
}
.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
}
.g-r-u{
  float:right;
}
.g-l-u{
  float:left;
}
.b-t-r-l-u{

  border-top-right-radius: 110px !important;
  border-top-left-radius: 110px !important;
  /* border-radius: 52.5px; */
}
.b-b-r-l-u{
  
    border-bottom-right-radius: 110px !important;
    border-bottom-left-radius: 110px !important;
    /* border-radius: 52.5px; */
  }
  .row-centered {
    text-align:center;
}
  .col-c-u {
    display:inline-block;
    float:none;
    padding-left:20px;
    text-align: center;
}
.a-u:hover{
  color:black;
}
.btn-m-s-u{
  margin:5px;
}
.table-borderless {
  background-color:rgb(235, 243, 239);

}
.table-borderless .f-d-td, .table-borderless .f-d-th {
  border: none; 
  border-radius: 100px !important; 
}
.table-f{
  max-width: 1200px;
  border-radius: 50px;

}
